.alertButton{
    position: absolute;
    top:140px;
    right:190px;
}

.alert{
    position: absolute;
    z-index: 100;
    top:100px;
    left:100px;
    width: 400px;
    text-align: center;
    line-height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    text-shadow: 0 1px 0 #ccc;
}

.buttons {
    position: absolute;
    border-radius: 50%;
    font-family: Akashi;
    color: white;
    height: 40px;
    background-color: black;
    outline: none;
    text-shadow: 0 1px 0 #ccc;
}

@font-face {
    font-family: Akashi;
    src: url(Akashi.ttf);
}

.hidden{
    visibility: hidden;
}