.buttons {
    position: absolute;
    border-radius: 50%;
    font-family: Akashi;
    color: white;
    height: 40px;
    background-color: black;
    outline: none;
    text-shadow: 0 1px 0 #ccc;
}

.newGame{
    bottom:70px;
    left:250px;
}

.timeAttackButton{
    bottom:70px;
    left:400px;
}

.singlePlayerButton{
    bottom:70px;
    left:100px;
    font-size:14px;

}

.multiPlayerButton{
    bottom:70px;
    left:260px;
}

.backButton{
    left:-300px;
    top:30px;
}

.resetButton{
    left:-300px;
    top:85px;
}

.blurred{
    filter: blur(3px);
}

@font-face {
    font-family: Akashi;
    src: url(Akashi.ttf);
}