@keyframes blur{
  from{
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff;}
}

body {
  margin: 0px;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  text-size-adjust: 100%;
  cursor: default;
  user-select: none;
  tap-highlight-color: transparent;

}

@font-face {
  font-family: Akashi;
  src: url(Akashi.ttf);
}

#root{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
  text-align: center;
}