.logoCell{
    width: 117px;
    height: 117px;
    outline: 1px solid white;
    float : left;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.logoText{
    position: absolute;
    left:180px;
    top:410px;
    font-size: 40px;
    font-family: Akashi;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.logoSquare{
    width: 351px;
    height: 351px;
    box-sizing: border-box;
    margin: 20px auto 40px auto;
    outline:5px solid black ;

}

.blurred{
    filter: blur(3px);
}

@font-face {
    font-family: Akashi;
    src: url(Akashi.ttf);
}