@keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff;}
}

body {
    margin: 0px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    text-size-adjust: 100%;
    cursor: default;
    user-select: none;
    tap-highlight-color: transparent;

}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    text-align: center;
}

.logoSquare{
    width: 351px;
    height: 351px;
    box-sizing: border-box;
    margin: 20px auto 40px auto;
    outline:5px solid black ;

}

.logoCell{
    width: 117px;
    height: 117px;
    outline: 1px solid white;
    float : left;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.logoText{
    position: absolute;
    left:180px;
    top:410px;
    font-size: 40px;
    font-family: Akashi;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.square{
    width: 450px;
    height: 450px;
    outline: 1px solid black;
    margin: 20px auto 40px auto;
}

.inSquare{
    width: 150px;
    height: 150px;
    outline: 1px solid #fff;
    float : left;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 8em;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.blurred{
    filter: blur(3px);
}

.alertButton{
    position: absolute;
    top:140px;
    right:190px;
}

.alert{
    position: absolute;
    z-index: 100;
    top:100px;
    left:100px;
    width: 400px;
    text-align: center;
    line-height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    text-shadow: 0 1px 0 #ccc;
}

.subInfo{
    width: 33%;
    height: 90px;
    box-sizing: border-box;
    font-family: Akashi;
    font-size: 30px;
    padding-top: 35px;
    float: left;
    opacity: 0.5;
}

.timer{
    font-family: Akashi;
    font-size: 13em;
    position: absolute;
    right:-220px;
    bottom:230px;
    width:200px;
    height:250px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.buttons {
    position: absolute;
    border-radius: 50%;
    font-family: Akashi;
    color: white;
    height: 40px;
    background-color: black;
    outline: none;
    text-shadow: 0 1px 0 #ccc;
}

.newGame{
    bottom:70px;
    left:250px;
}

.timeAttackButton{
    bottom:70px;
    left:400px;
}

.singlePlayerButton{
    bottom:70px;
    left:100px;
    font-size:14px;

}

.multiPlayerButton{
    bottom:70px;
    left:260px;
}

.backButton{
    left:-300px;
    top:30px;
}

.resetButton{
    left:-300px;
    top:85px;
}


.winner{
    animation:blur .75s ease-out infinite;
}

.hidden{
    visibility: hidden;
}

.info{
    height: 90px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9;
}
@font-face {
    font-family: Akashi;
    src: url(Akashi.ttf);
}

.activeInfo{
    opacity: 1;
}